<%- include("../partials/header")%>

    <% if(success){%>
        <div class="alert success <%= success%>"><%= success%></div>
    <% }; %>

    <div class="customer-list">
        <table>
            <tr>
                <th>Sr.No.</th>
                <th>Name</th>
                <th>Account Number</th>
                <th>Email Id</th>
                <th>Balance</th>
            </tr>

            <!-- ejs -->
            <% customers.forEach( function(customer){ %>
                <tr>
                    <td><%= customer._id%></td>
                    <td><a href="/<%= customer.name%>"> <%= customer.name%> </a></td>
                    <td><%= customer.accNum%></td>
                    <td><%= customer.email%></td>
                    <td><%= customer.balance%></td>
                </tr>
            <% }) %>
          
        </table>
    </div>

</body>
</html>